.centered-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    background-color: white;
    /* height: 120vh; */
}
.node{
    /* border: 1px solid rgb(175, 216, 248);*/
    
  background-color:white ;
  color: white;
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  }
.node-visited{
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  }
  .node-finish{
    background-color: red;
  }
  .node-start{
    background-color: green;
  }
  .node-wall {
    background-color: rgb(12, 53, 71);
  }
  .node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  .dropdown-menu{
    background-color: #343a40;
  }
  #btn:hover{
    color: #16a085;
  }
  #btn{
    color: white;
    font-weight: bold;
  }
  #btn-d:hover{
    color: red;
  }
  #btn-d{
    color: red;
    font-weight: bold;
  }
  #drop{
    color:white
  }

  #drop:hover{
    color: #16a085;
  }
  #drop-d{
    color:white
  }

  #drop-d:hover{
    color: red;
  }

  #item{
    color:#343a40;
    background-color: white;
  }
  #item:hover{
    background-color: #16a085;
    color: white;
  }
  #item-d{
    color:#343a40;
    background-color: white;
  }
  #item-d:hover{
    background-color: red;
    color: white;
  }

  @keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
  